
/* Uses the MainTheme.css as a base */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.login-container {
    width: 360px;
    padding: var(--spacing-xl);
    transition: transform var(--transition-normal);
}

.login-container:hover {
    transform: translateY(-5px);
}

.login-title {
    color: var(--primary-color);
    margin-bottom: var(--spacing-lg);
    font-size: var(--font-size-xlarge);
}

.login-input-group {
    margin-bottom: var(--spacing-md);
    width: 92.5%;
}

.login-input {
    width: 100%;
    padding: 12px;
}

.login-button {
    width: 100%;
    margin-bottom: var(--spacing-lg);
    padding: 12px;
}

.login-actions {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);
}

.login-register-link {
    width: 48%;
}

.login-register-btn,
.login-guest-btn {
    width: 100%;
    padding: 10px;
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
    }
    
    .login-actions {
        flex-direction: column;
    }
    
    .login-register-link,
    .login-guest-btn {
        width: 100%;
        margin: var(--spacing-xs) 0;
    }
}
